<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542595137677-rte0o30e1qtk0qjp7hs70gg6pevfnjhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542595137677-rte0o30e1qtk0qjp7hs70gg6pevfnjhu</string>
	<key>API_KEY</key>
	<string>AIzaSyDkxsQpv_IA2-NR7rDGaSRiNHLeNC9Hggs</string>
	<key>GCM_SENDER_ID</key>
	<string>542595137677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.referralApp</string>
	<key>PROJECT_ID</key>
	<string>referralapp-beb46</string>
	<key>STORAGE_BUCKET</key>
	<string>referralapp-beb46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542595137677:ios:28ebd35bc639e9580fa2c4</string>
</dict>
</plist>